:root {
  --color-pink: #f366a3;
  --color-pink-dark: #f55699;
  --color-purple: #736cfa;
  --color-purple-dark: #252a41;
  --color-orange: #f67d5a;
  --color-grey: #f7f7f7;
  --color-grey: #e7e7e7;
  --color-white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .9);
  /*
        Gradients
        color-pink + color-purple
        color-orange + color-pink-dark
    */ }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: var(--color-purple-dark); }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem; }

.container {
  max-width: 120rem;
  min-height: 80rem;
  margin: 8rem auto;
  border-radius: 3.5rem;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-white);
  overflow: hidden; }

.top {
  background-color: var(--color-purple);
  position: relative; }
  .top__title {
    color: var(--color-white);
    padding: 5rem;
    text-align: center; }
  .top__style {
    font-size: 20rem;
    position: absolute;
    right: -300px;
    top: 240px;
    transform: rotate(-90deg);
    opacity: .1; }

.content {
  margin: -2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50rem; }

.form__input {
  padding: 1.5rem 5rem;
  border-radius: 3.5rem;
  border: 2px solid var(--color-grey); }

.form__group {
  z-index: 999; }
