.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

:root {
  --color-pink: #f366a3;
  --color-pink-dark: #f55699;
  --color-purple: #736cfa;
  --color-purple-dark: #252a41;
  --color-orange: #f67d5a;
  --color-grey: #f7f7f7;
  --color-grey: #e7e7e7;
  --color-white: #fff;
  --shadow-dark: 0 2rem 9rem rgba(0,0,0, .1);
  /*
        Gradients
        color-pink + color-purple
        color-orange + color-pink-dark
    */ }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: var(--color-purple-dark); }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem; }

.container {
  max-width: 80rem;
  min-height: 80rem;
  margin: 8rem auto;
  border-radius: 3.5rem;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-white);
  overflow: hidden; }

.top {
  background-color: var(--color-purple);
  position: relative; }
  .top__title {
    color: var(--color-white);
    font-size: 5rem;
    padding: 4rem 6rem 0 6rem;
    text-transform: uppercase;
    line-height: 4rem; }
    .top__title-sub {
      color: var(--color-white);
      font-weight: 300;
      padding: 0 6rem 4rem 6rem;
      font-size: 1.5rem; }
  .top__style {
    font-size: 20rem;
    position: absolute;
    right: -300px;
    top: 240px;
    transform: rotate(-90deg);
    opacity: .1; }

.content {
  margin-top: -6rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .content > *:not(:last-child) {
    margin-bottom: 3rem; }

.form__input {
  padding: 1.5rem 2rem;
  width: 60%;
  border-radius: 3.5rem;
  border: 2px solid var(--color-grey);
  color: inherit;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: var(--shadow-dark);
    border: 3px solid var(--color-purple); }
  .form__input:focus:invalid {
    border: 3px solid var(--color-pink); }
  .form__input::-webkit-input-placeholder {
    color: var(--color-grey); }

.form__group {
  z-index: 999; }

.form__checkbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 14rem;
  margin-top: -2rem; }
  .form__checkbox-input {
    margin-right: 2rem; }
